.cellIdentification {
    width: 1240px;
    height: 100%;
    margin: 0 auto;
    padding: 30px 0;
    .cellIdentification-inner {
        width: 1200px;
        padding: 0 20px;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
        background: rgba(255, 255, 255, 1);
        .scsa {
            height: auto;
            .file_p {
                margin-top: 0;
                span {
                    display: inline-block;
                    padding: 0 30px;
                    position: relative;
                    top: -19px;
                }
                .file {
                    position: relative;
                    display: inline-block;
                    background: #24a461;
                    border-radius: 4px;
                    overflow: hidden;
                    color: #fff;
                    text-decoration: none;
                    text-indent: 0;
                    line-height: 30px;
                    cursor: pointer;
                    width: 125px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    top: 0;
                    left: 0;
                    input {
                        position: absolute;
                        font-size: 100px;
                        right: 0;
                        top: 0;
                        opacity: 0;
                        cursor: pointer;
                    }
                }
            }
            .file:hover {
                color: #fff;
                text-decoration: none;
            }
        }
        .keyword_p1 {
            margin-top: 30px;
            margin-bottom: 0;
            height: 47px;
            font-size: 18px;
            font-family: PingFang SC;
            font-weight: bold;
            color: rgba(51, 51, 51, 1);
        }
        .btnSearch {
            width: 125px;
            height: 40px;
            background: #24a461;
            font-size: 18px;
            font-family: PingFang SC;
            color: #fff;
            outline: none;
            border: none;
            cursor: pointer;
        }
        .btnReset {
            width: 125px;
            height: 40px;
            background: #f1f1f1;
            font-size: 18px;
            font-family: PingFang SC;
            color: #333;
            outline: none;
            border: none;
        }
    }
}
