.cellIdentification {
    width: 1240px;
    height: 100%;
    margin: 0 auto;
    padding: 30px 0;
    .cellIdentification-inner {
        width: 1220px;
        padding: 0 0 20px 20px;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
        background: rgba(255, 255, 255, 1);
        .scsa {
            height: auto;
            .grid-content {
                width: 100%;
                height: 340px;
                margin-top: 20px;
                .title {
                    width: 100%;
                    height: 40px;
                    font-size: 16px;
                    font-family: PingFang SC, PingFang SC-Heavy;
                    font-weight: 800;
                    text-align: center;
                    color: #ffffff;
                    line-height: 40px;
                    background: #24a461;
                    border-radius: 8px 8px 0 0;
                    box-sizing: border-box;
                    cursor: pointer;
                }
                .title:hover {
                    opacity: 0.9;
                }
                .pic_content {
                    width: 100%;
                    height: 300px;
                    border: 1px solid #24a461;
                    border-radius: 0 0 8px 8px;
                    box-sizing: border-box;
                    text-align: center;
                    .pic {
                        width: 100%;
                        height: 235px;
                        border-bottom: 1px solid #24a461;
                        cursor: pointer;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .btn {
                        background: #0a9daa;
                        border: none;
                        padding: 10px; // margin: 13px 10px;
                        margin: 13px 5px; // width: 112px;
                    }
                    .btn:hover {
                        // background: #0a9daa;
                        opacity: 0.9;
                    }
                }
            }
        }
    }
}
