.monocleDifferential {
  width: 1240px;
  height: 100%;
  margin: 0 auto;
  background: #fafafa;
  padding: 0 0 30px 0;
  .crumbs {
    height: 28px;
    padding-top: 12px;
    margin: 0;
  }
  .monocleDifferential-inner {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;
    background: rgba(255, 255, 255, 1);
    .static_img {
      width: 100%;
      padding: 20px 0px;
      height: auto;
      margin: 0 auto;
    }
    .searchJump {
      width: 100%;
      height: auto;
      overflow: hidden;
      span {
        width: 124px;
        height: 16px;
        font-size: 16px;
        font-family: PingFang SC, PingFang SC-Medium;
        font-weight: 500;
        color: #666666;
        line-height: 40px;
        margin-right: 10px;
      }
    }
  }
}