.CMPredictor {
    width: 1240px;
    height: 100%;
    margin: 0 auto; // background: #FAFAFA;
    // padding: 30px 0;
    .CMPredictor-inner {
        width: 1200px; // padding: 0px 20px;
        // margin: 0 auto;
        overflow: hidden; // background: rgba(255, 255, 255, 1);
        .scsa {
            height: auto;
            .item3 {
                .el-checkbox {
                    margin-right: 10px !important;
                }
            }
        }
        .keyword_p1 {
            margin-top: 30px;
            margin-bottom: 0;
            height: 47px;
            font-size: 18px;
            font-family: PingFang SC;
            font-weight: bold;
            color: rgba(51, 51, 51, 1);
        }
        .btnSearch {
            width: 125px;
            height: 40px;
            background: #24a461;
            font-size: 18px;
            font-family: PingFang SC;
            color: #fff;
            outline: none;
            border: none;
            cursor: pointer;
        }
        .btnReset {
            width: 125px;
            height: 40px;
            background: #f1f1f1;
            font-size: 18px;
            font-family: PingFang SC;
            color: #333;
            outline: none;
            border: none;
        }
    }
}
