.CellRangerResult {
    width: 1240px;
    height: 100%;
    margin: 0 auto; // background: #fff;
    // padding: 30px 0;
    .CellRangerResult-inner {
        width: 100%;
        overflow: hidden; // background: rgba(255, 255, 255, 1);
        .el-header {
            padding: 0;
            height: 40px;
            font-size: 18px;
            font-family: PingFang SC, PingFang SC-Bold;
            font-weight: 700;
            color: #333333;
            line-height: 40px;
            .title_header {
                padding: 20px 0;
            }
        }
        .stepBar {
            width: 1240px;
            padding: 20px 0;
            margin: 0 auto;
            height: auto;
            background: #fff;
            margin-bottom: 10px;
        }
        .blast {
            width: 1200px;
            padding: 20px;
            margin: 0 auto;
            height: auto;
            background: #fff;
            .title_header {
                padding: 20px 0;
            }
            .iframe-container {
                width: 100%;
                height: auto;
                margin-bottom: 10px;
            }
            .textBtn {
                margin-right: 20px;
            }
            .file_p {
                margin-top: 0;
                span {
                    display: inline-block;
                    padding: 0 10px;
                    position: relative;
                    top: 0px;
                    width: 155px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    color: rgb(153, 153, 153);
                    font-size: 12px;
                    font-weight: 400;
                }
                .file {
                    position: relative;
                    display: inline-block;
                    background: #24a461;
                    border-radius: 4px;
                    overflow: hidden;
                    color: #fff;
                    text-decoration: none;
                    text-indent: 0;
                    cursor: pointer;
                    width: 80px;
                    height: 32px;
                    line-height: 32px;
                    text-align: center;
                    top: 0;
                    left: 0;
                    input {
                        position: absolute;
                        font-size: 100px;
                        right: 0;
                        top: 0;
                        opacity: 0;
                        cursor: pointer;
                    }
                }
            }
            .file:hover {
                color: #fff;
                text-decoration: none;
            }
        }
        .btnSearch {
            width: auto;
            height: 32px;
            background: #24a461;
            font-size: 14px;
            font-family: PingFang SC;
            color: #fff;
            outline: none;
            border: none;
            padding: 0 20px;
        }
        .newBtn {
            width: 1200px;
            height: 32px;
            padding: 0 20px;
            box-sizing: border-box;
            border: 1px solid rgb(36, 164, 97);
            border-radius: 4px;
            background: rgba(36, 164, 97, 0.1);
            color: rgb(36, 164, 97);
            font-size: 14px;
            font-weight: 400;
        }
        .delBtn {
            width: 24px;
            height: 24px;
            background: rgb(255, 85, 85);
            text-align: center;
            padding: 1px !important;
        }
    }
}