.homepage {
    width: 100%;
    height: auto;
    margin: auto;
    background: #f5f5f5; // 图片部分
    font-family: Source Han Sans CN, Source Han Sans CN-Medium;
    .banner {
        width: 100%;
        height: 300px;
        background: url(~@/assets/img/banner.jpg) no-repeat center;
        background-size: cover;
        .banner_title {
            width: 1240px;
            height: auto;
            margin: 0 auto;
            overflow: hidden;
            color: #fff;
            font-weight: bold;
            padding-top: 87px;
            font-size: 31px;
            word-spacing: 2px;
            span {
                color: #e6ef82;
            }
        }
        .banner_p {
            width: 1240px;
            height: auto;
            margin: 0 auto;
            overflow: hidden;
            color: #fff;
            padding-top: 20px;
            font-size: 18px;
            word-spacing: 2px;
        }
    } // 统计
    .homepage_statistics {
        width: 100%;
        height: auto;
        min-height: 520px;
        overflow: hidden;
        .statistics_content {
            width: 1240px;
            height: auto;
            min-height: 520px;
            margin: 0 auto;
            overflow: hidden;
            padding: 0 0 40px 0;
            .homepage_statistics_left {
                float: left;
                width: 915px;
                height: auto;
                min-height: 520px;
                overflow: hidden;
                margin: 0 auto;
                h3 {
                    width: 100%;
                    height: 42px;
                    padding-left: 20px;
                    box-sizing: border-box;
                    background: #24a461;
                    color: #fff;
                    line-height: 42px;
                    margin-top: 20px;
                }
                .sta_left_content {
                    width: 100%;
                    height: auto;
                    min-height: 520px;
                    padding-left: 20px;
                    padding-bottom: 20px;
                    box-sizing: border-box; // border: 1px solid #cecece;
                    overflow: hidden;
                    background: #fff;
                    .grid-content {
                        width: 100%;
                        margin-top: 20px;
                        height: auto; // border: 1px solid rgba(0, 0, 0, .1);
                        border-radius: 8px;
                        overflow: hidden;
                        background: #f5f5f5;
                        .title {
                            width: 100%;
                            height: 50px;
                            line-height: 50px;
                            font-size: 16px;
                            font-family: Source Han Sans CN, Source Han Sans CN-Bold;
                            font-weight: 400;
                            color: #333333;
                            text-align: center;
                            display: inline-block;
                            box-sizing: border-box; // img {
                            //   width: 25px;
                            //   height: 25px;
                            //   position: relative;
                            //   top: 5px;
                            //   margin-right: 5px;
                            // }
                        }
                        .ul-content {
                            width: 100%;
                            height: 250px;
                            line-height: 55px;
                            padding: 0 20px;
                            box-sizing: border-box;
                            li {
                                width: 60%;
                                height: 100%;
                                float: left;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                img {
                                    // width: auto;
                                    // height: 95%;
                                    width: auto;
                                    height: auto;
                                    max-width: 100%;
                                    max-height: 95%;
                                    cursor: pointer;
                                }
                            }
                            li:nth-child(2) {
                                box-sizing: border-box;
                                .active {
                                    // background: #ffda8c;
                                    box-shadow: -2px 0px 10px 2px rgba(0, 0, 0, 0.25);
                                }
                                img {
                                    width: 30px;
                                    height: 30px; // margin-top: 5px;
                                    background: none;
                                    border-radius: 50%;
                                    margin: 10px 0;
                                }
                                img:hover {
                                    box-shadow: -2px 0px 10px 2px rgba(0, 0, 0, 0.25);
                                }
                            }
                        }
                    }
                }
            }
            .homepage_statistics_right {
                float: left;
                width: 305px;
                height: auto;
                overflow: hidden;
                margin-left: 20px;
                h3 {
                    width: 100%;
                    height: 42px;
                    padding-left: 20px;
                    box-sizing: border-box;
                    background: #24a461;
                    color: #fff;
                    line-height: 42px;
                    margin-top: 20px;
                }
                .sta_right_content {
                    width: 100%;
                    height: auto;
                    box-sizing: border-box; // border: 1px solid #cecece;
                    overflow: hidden;
                    padding-bottom: 20px;
                    background: #fff;
                    dl {
                        width: 50%;
                        height: 130px;
                        padding-top: 30px;
                        float: left;
                        text-align: center;
                        dt {
                            width: 100%;
                            height: 50px;
                        }
                        dd:nth-child(2) {
                            width: 100%;
                            height: 40px;
                            line-height: 70px;
                            font-size: 20px;
                            font-weight: 700;
                            color: #24a461;
                        }
                        dd:nth-child(3) {
                            width: 100%;
                            height: 40px;
                            font-size: 16px;
                            font-weight: 500;
                            color: #666;
                            line-height: 40px;
                        }
                    }
                    dl:nth-child(1) {
                        dt {
                            background: url(~@/assets/img/home_sta01.png) no-repeat center;
                        }
                    }
                    dl:nth-child(2) {
                        dt {
                            background: url(~@/assets/img/home_sta02.png) no-repeat center;
                        }
                    }
                    dl:nth-child(3) {
                        dt {
                            background: url(~@/assets/img/home_sta03.png) no-repeat center;
                        }
                    }
                    dl:nth-child(4) {
                        dt {
                            background: url(~@/assets/img/home_sta04.png) no-repeat center;
                        }
                    }
                    dl:nth-child(5) {
                        dt {
                            background: url(~@/assets/img/home_sta05.png) no-repeat center;
                        }
                    }
                    ul {
                        width: 100%;
                        height: 167px;
                        overflow: auto;
                        font-size: 14px;
                        font-family: Source Han Sans CN Normal, Source Han Sans CN Normal-Normal;
                        color: #666;
                        padding: 5px 0;
                        li {
                            height: 40px;
                            padding: 0 20px;
                            line-height: 40px;
                            span {
                                float: right;
                            }
                            span:first-child {
                                float: left;
                                display: inline-block;
                                width: 176px;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }
                        }
                        .logLi {
                            cursor: pointer;
                        }
                        .logLi:hover {
                            color: #0a9daa;
                        }
                    }
                }
            }
        }
    }
}
