.search {
    width: 100%; // width: 1240px;
    height: 100%;
    margin: 0 auto;
    background: #fafafa;
    padding: 30px 0;
    .search-inner {
        width: 1200px;
        padding: 0px 20px;
        margin: 0 auto;
        overflow: hidden;
        background: rgba(255, 255, 255, 1);
        .blast {
            height: auto;
        }
        .cellMarker {
            height: auto;
            border-top: 1px solid #24a461;
        }
        .cmpredictor {
            height: auto;
            border-top: 1px solid #24a461;
        }
        .keyword_p1 {
            margin-top: 30px;
            margin-bottom: 0;
            height: 47px;
            font-size: 18px;
            font-family: PingFang SC;
            font-weight: bold;
            color: #24a461;
        }
        .btnSearch {
            width: 126px;
            height: 40px;
            background: #24a461;
            font-size: 18px;
            font-family: PingFang SC;
            color: #fff;
            outline: none;
            border: none;
        }
        .btnReset {
            width: 126px;
            height: 40px;
            background: #f1f1f1;
            font-size: 18px;
            font-family: PingFang SC;
            color: #333;
            outline: none;
            border: none;
        }
    }
}
