.ClusterResult {
    width: 1240px;
    height: 100%;
    margin: 0 auto;
    background: #fff; // padding: 30px 0;
    .ClusterResult-inner {
        width: 100%;
        overflow: hidden; // background: rgba(255, 255, 255, 1);
        .el-header {
            padding: 0;
            height: 40px;
            font-size: 18px;
            font-family: PingFang SC, PingFang SC-Bold;
            font-weight: 700;
            color: #333333;
            line-height: 40px;
            .title_header {
                padding: 20px 0;
            }
        }
        .stepBar {
            width: 1240px;
            padding: 20px 0;
            margin: 0 auto;
            height: auto;
            background: #fff;
            margin-bottom: 10px;
        }
        .blast {
            width: 1200px;
            padding: 20px;
            margin: 0 auto;
            height: auto;
            background: #fff;
            .title_header {
                padding: 20px 0;
            }
            .title1 {
                font-size: 20px;
                font-family: PingFang SC;
                font-weight: 700;
                color: #333;
                height: 40px;
                line-height: 40px; // padding-left: 20px;
                text-align: center;
                margin-top: 20px;
            }
            .UMAP {
                width: 100%;
                padding: 10px 20px;
                box-sizing: border-box;
                height: auto; // min-height: 500px;
                overflow: hidden;
                text-align: center;
            }
            .btnSearch {
                width: auto;
                height: 32px;
                background: #24a461;
                font-size: 14px;
                font-family: PingFang SC;
                color: #fff;
                outline: none;
                border: none;
                padding: 0 20px;
            }
        }
        .psfa {
            border: 1px solid #dcdfe6;
            width: 140px;
            height: 40px;
            line-height: 40px;
            margin-bottom: 5px;
            display: flex;
            align-items: center;
            padding: 0 5px;
            span {
                padding-left: 5px;
            }
            /* 垂直居中 */
            // justify-content: center;
            /* 水平居中，可选 */
        }
    }
}