.jg-form {
  /* margin-bottom: 10px;
  border-bottom: 1px solid #ebebeb; */
}
.el-form .form-item {
  margin-right: 0;
  text-align: center;
  margin-bottom: 15px;
}
.jg-form .title {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
  padding-left: 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 16px;
}

.jg-form .el-form {
  overflow: hidden;
}

.jg-form .form-btn {
  /* width: 230px;
  text-align: center; */
  margin-left: 10px !important;
  margin-right: 0;
}
.jg-form .form-item:nth-child(7) {
  margin-bottom: 0 !important;
}
.jg-form .form-btn .el-form-item__content {
  float: right;
}

.smallForm .el-form--inline .el-form-item__label {
  padding-right: 5px !important;
}
.smallForm .el-form--inline .el-form-item {
  margin-left: 20px !important;
}
.smallForm .el-form--inline .el-form-item:first-child {
  margin-left: 0 !important;
}
