.searchDetails {
    width: 1240px;
    height: 100%;
    margin: 0 auto;
    background: #fafafa;
    padding: 0 0 30px 0;
    .crumbs {
        height: 28px;
        padding-top: 12px;
        margin: 0;
    }
    .searchDetails-inner {
        width: 1240px;
        margin: 0 auto;
        overflow: hidden;
        background: rgba(255, 255, 255, 1);
        .title1 {
            font-size: 20px;
            font-family: PingFang SC;
            font-weight: bold;
            color: #fff;
            height: 40px;
            line-height: 40px;
            background: #24a461;
            padding-left: 20px;
        }
        .search-list-table {
            width: 100%;
            padding: 10px 20px;
            box-sizing: border-box;
            overflow: hidden;
        }
        .content_detail {
            width: 1200px;
            padding: 10px 20px;
            box-sizing: border-box;
            height: auto;
            overflow: hidden;
            .grid-content {
                width: 25%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                float: left;
                height: 38px;
                font-size: 16px;
                font-family: PingFang SC Medium, PingFang SC Medium-Medium;
                font-weight: 900;
                color: #333;
                line-height: 38px;
                span {
                    color: #666;
                    font-weight: 400;
                    font-size: 14px;
                    padding-right: 10px;
                }
            }
            .grid-content:nth-child(9),
            .grid-content:nth-child(10),
            .grid-content:nth-child(11),
            .grid-content:nth-child(12),
            .grid-content:nth-child(13),
            .grid-content:nth-child(14) {
                width: 100%;
            }
            .grid-content:nth-child(14) span {
                color: #24a461;
                cursor: pointer;
                width: 100%;
            }
        }
        .content_efp {
            width: 100%;
            padding: 10px 20px;
            box-sizing: border-box;
            height: auto;
            min-height: 500px;
            overflow: auto;
            text-align: center;
            .efp_form {
                text-align: left;
                width: 100%;
                height: auto;
                overflow: hidden;
                margin-top: 10px;
            }
        }
        .Transcriptome {
            width: 100%;
            padding: 10px 20px;
            box-sizing: border-box;
            height: auto; // min-height: 500px;
            overflow: hidden;
            text-align: center;
        }
        .UMAP {
            width: 100%;
            padding: 10px 20px;
            box-sizing: border-box;
            height: auto; // min-height: 500px;
            overflow: hidden;
            text-align: center;
        }
        .content_document {
            width: 100%; // padding: 10px 0;
            box-sizing: border-box;
            height: auto;
            overflow: hidden;
            .retrieval_pub_ul {
                width: 100%;
                height: auto;
                overflow: hidden;
                box-sizing: border-box;
                margin-bottom: 20px;
                li {
                    height: auto;
                    padding: 10px 20px;
                    box-sizing: border-box;
                    width: 100%;
                    border-bottom: 1px solid #f0f0f0;
                    p {
                        font-size: 16px;
                        height: 30px;
                        line-height: 30px;
                        color: #333;
                        width: 100%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        word-break: break-all;
                    }
                }
                li p:nth-child(1) {
                    color: #24a461;
                    cursor: pointer;
                }
            }
        }
    }
}
